/* Login.css */

body {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
}

.tdMainContainer {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  width: 400px;
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

.tdParagraph {
  color: #666;
  margin-bottom: 30px;
}

.tdForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px; /* Adjusted padding for uniform size */
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border-radius: 20px;
}

.tdLoginButton {
  padding: 12px;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  border-radius: 20px;
}

button:hover {
  background-color: #555;
}



.tdPasswordDiv {
  position: relative;
}


.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: grey;
}


@media only screen and (max-width: 768px) {
  .tdMainContainer {
    width: 90%;
  }
}
